body {
    background-image: url(./images/umair2.jpg);
    /* width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;

}

.heading {
    text-align: center;
    background-color: aqua;
    width: 30%;
    margin: 40px auto;
    border-radius: 10px;
}

form {
    text-align: center;
}

form>label {
    font-size: 30px;
    color: black;
}

form>input {
    border-radius: 5px;
}

form>button {
    background-color: grey;
    padding: 5px;
    width: 7%;
    border-radius: 10px;
}

.bg-text {
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    /* background-image: url(./images/umair.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;

    /* background-color: blueviolet; */
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    /* display: flex; */
    /* justify-content: space-around; */
    flex-wrap: wrap;

}

form>button:hover {
    background-color: cornflowerblue;
    transition: 0.5s;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    body {
        background-image: url(./images/umair2.jpg);
        /* width: 50%; */
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    
    
    .bg-text {

        width: 80%;
        background-position: cover;
        margin: 50px;
    }
    form>button{
        width: 20%;
    }
}
@media only screen and (max-width: 365px) {
    body {
        background-image: url(./images/umair2.jpg);
        /* width: 50%; */
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    
    
    .bg-text {

        width: 80%;
        background-position: cover;
        margin: 50px;
    }
    form>button{
        width: 40%;
    }
}